<h1> Attorney</h1>
<h3>Apply</h3>
<h4> <%= @job.firm_name %> </h4>
<h4> <%= @job.practice_area %> </h4>
<h4> <%= @job.city %> </h4>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :barred_states %>
    <%= f.text_field :barred_states %>
  </div>
  <div class="field">
    <%= f.label :current_firm %>
    <%= f.text_field :current_firm %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :resume %>
    <%= f.file_field :document %>
  </div>
  <div class="field">
    <%= f.label :transcript %>
    <%= f.file_field :document %>
  </div>
  <div class="field">
    <%= f.label :writing_sample %>
    <%= f.file_field :document %>
  </div>
  <div>
    <select name='Usage' id="Usage">
      <option value=" "></option>
      <option value="First Time User">First Time User</option>
      <option value="Frequent Visitor">Frequent Visitor</option>
    </select>
  </div>

  <div class="actions"><%= f.submit %></div>
<% end %>