<%= form_with(model: attorney, local: true) do |form| %>
  <% if attorney.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attorney.errors.count, "error") %> prohibited this attorney from being saved:</h2>

      <ul>
      <% attorney.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :attorney_name %>
  </div>

  <div class="field">
    <%= form.label :barred_states %>
    <%= form.text_field :barred_states, id: :attorney_barred_states %>
  </div>

  <div class="field">
    <%= form.label :current_firm %>
    <%= form.text_field :current_firm, id: :attorney_current_firm %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
