<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attorney.name %>
</p>

<p>
  <strong>Barred states:</strong>
  <%= @attorney.barred_states %>
</p>

<p>
  <strong>Current firm:</strong>
  <%= @attorney.current_firm %>
</p>

<%= link_to 'Edit', edit_attorney_path(@attorney) %> |
<%= link_to 'Back', attorneys_path %>
